img {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    height: 100%;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

body {
    background-color: wheat;;
}

ul {
    list-style-type: circle;
    margin-left: 0px;
}

hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    border-style: none;
    background-color: black;
}
#line1 {
    border-style: dot-dot-dash;
}
#line2 {
    border-style: dot-dot-dash;
}
#example1 {
    border: none;
    padding: 15px;
    box-shadow: -4px 4px 4px #111;
}

#example2 {
    border: ridge;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
    margin-top: 25px;
    height: auto;
    background-color: #f2f2f2;
    margin-left: 20px;
}

.column.left {
    width: 15%;
    border-style: outset;
}

.column.middle {
    width: 30%;
    margin-left: 20px;
    height: 510px;
}

.column.right {
    width: 25%;
    margin-right: 10px;
    height: 520px;
}

@media (max-width: 600px) {
    .column.right, .column.left {
        width: 100%;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#table1{
    border: dotted;
}