img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    height: 60%;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

body {
    background-color: #fbe9e7;
}

* {
    box-sizing: content-box;
}

hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 1.5px;
    border-style: none;
    background-color: black;
}

#example1 {
    border: none;
    padding: 15px;
    box-shadow: -4px 4px 4px #111;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text], select {
    width: 84%;
    padding: 12px 12px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    width: 15%;
    background-color: #0d47a1;
    color: white;
    padding: 12px 0;
    margin: 4px 0;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1565c0;
}

.column {
    float: left;
    padding: 10px;
    margin-top: 25px;
    height: 600px;
    background-color: #f2f2f2;
    margin-left: 20px;
}

.column.left {
    width: 35%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: outset;
}

.column.right {
    width: 53%;
    height: 50px;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .column.right, .column.left {
        width: 100%;
    }
}